<section class="index-page">
  <% if flash %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  <% end %>
  <% if @card %>
    <h1>It's time to repeat words!</h1>
    <h2>Do you remember the translation of this word: <%= @card.translated_text %>?</h2>
    <%= simple_form_for :session, url: { controller: :card_verification, action: :update } do |form| %>
      <%= form.input  :original_text_verification  %>
      <%= hidden_field_tag 'original_text', @card.original_text %>
      <%= form.button :submit, value: "Check", style: "width: 100%" %>
    <% end %>
  <% else %>
  <h3>Первый в мире удобный менеджер флеш-карточек. Именно так.</h3>
  <% end %>
</section>
