<table class="cards-index-table">
  <tr>
    <th>Original_text</th>
    <th>Translated_text</th>
    <th>Review_date</th>
  </tr>
  <% @cards.each do |c| %>
    <tr>
      <td><%= c.Original_text %></td>
      <td><%= c.Translated_text %></td>
      <td><%= c.Review_date.day %>/<%= c.Review_date.month %>/<%= c.Review_date.year %></td>
    </tr>
  <% end %>
</table>
