<h1>Edit Deck: <%= @deck.name.to_s.capitalize %></h1>
<%= simple_form_for(@deck, html: {class: 'form-horizontal'}) do |form| %>
  <% if @deck.errors.any? %>
    <h2>
      <%= pluralize(@deck.errors.count, 'error')%> prohibited this deck from being created.
    </h2>
    <% @deck.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %>
    </ul>
    <% end %>
  <% end %>
  <%= form.input  :name %>
  <%= form.button :submit %>
<% end %>
