<h1>Decks manager</h1>
<h2><%= link_to 'Add Deck', new_deck_path %></h2>
<table class='decks_table'>
  <tr>
    <th>Deck name</th>
    <th>Actions with Decks</th>
  </tr>
  <% @decks.each do |deck| %>
  <tr>
    <td><%= link_to deck.name, deck_path(deck) %></td>
    <td>
      <%= link_to 'Edit Deck', edit_deck_path(deck) %>
      <%= link_to 'Delet Deck', deck_path(deck), method: :delete,
          data: {confirm: 'Are you sure?'} %>
        <%= link_to 'Activate Deck', current_deck_path(deck_id: deck.id) %>
    </td>
  </tr>
  <% end %>
</table>
