<h1>Creating new Deck</h1>
<%= simple_form_for @deck, html: {class: 'form-horizontal'}, url: { controller: :decks, action: :create } do |form| %>
  <% if @deck.errors.any? %>
    <h2>
      <%= pluralize(@deck.errors.count, 'error')%> prohibited this deck from being created.
    </h2>
    <% @deck.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %>
    </ul>
    <% end %>
  <% end %>
  <%= form.input  :name %>
  <%= form.button :submit %>
<% end %>
