<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix navbar navbar-inverse">
      <h1><%= link_to "Флэшкарточкер", root_path %></h1>
      <% if current_user %>
      <ul class="navigation-links nav navbar-nav navbar-right">
        <% if current_user.decks.empty? %>
          <li><%= link_to 'Add Deck', new_deck_path, class: "btn btn-default" %></li>
        <% end %>
        <li><%= link_to 'All Cards', cards_path, class: "btn btn-default" %></li>
        <li><%= link_to 'Add Card', new_card_path, class: "btn btn-default" %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(current_user.id), class: "btn btn-default" %></li>
        <li><%= link_to 'Logout', logout_path, method: :post, class: "btn btn-default" %></li>
      </ul>
      <% else %>
        <ul class="navigation-links nav navbar-nav navbar-right">
          <li><%= link_to 'Login with TW', auth_at_provider_path(:provider => :twitter), class: "btn btn-default" %></li>
          <li><%= link_to 'Login with FB', auth_at_provider_path(:provider => :facebook), class: "btn btn-default" %></li>
          <li><%= link_to 'Login with VK', auth_at_provider_path(:provider => :vk), class: "btn btn-default" %></li>
          <li><%= link_to 'Register', registration_path, class: "btn btn-default" %></li>
          <li><%= link_to 'Login', login_path, class: "btn btn-default" %></li>
        </ul>
      <% end %>
      </header>
    <section id="container">
      <% if flash %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= console %>
    </section>
  </body>
</html>
