<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix navbar navbar-inverse">
      <h1><%= link_to "Флэшкарточкер", root_path %></h1>
        <ul class="navigation-links nav navbar-nav navbar-right">
          <li><%= link_to "Все карточки", cards_path, class: "btn btn-default" %></li>
          <li><%= link_to "Добавить карточку", new_card_path, class: "btn btn-default" %></li>
        </ul>
      </header>
    <section id="container">
      <% if flash %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
